

// Layout M1 /////////////////////////////////////

.m1 {
  padding: 50px;

  .grid {
    @include clearfix;
    //max-width: 1200px;
  }

  .grid-cell {
    width: 200px;
    height: 200px;
    float: left;
    background: #f5f5f9;
    box-shadow: 0 0 0 1px #000;
    border: 1px solid #000;
  }

  .grid-cell--w2 {
    width: 400px;
  }
  .grid-cell--w3 {
    width: 600px;
  }
  .grid-cell--h2 {
    height: 400px;
  }

  .grid-cell-inner {
    padding: 10px;
  }

}

// Layout M2 /////////////////////////////////////

.m2 {
  padding: 50px;

  .grid {
    @include clearfix;
    margin: 50px 0;
  }

  .grid-cell {
    width: 200px;
    height: 200px;
    margin: 0 10px 10px 0;
    float: left;
    box-shadow: 0 0 0 1px #000;
    //border-top: 2px solid #000;
  }

  .grid-cell--w2 {
    width: 410px;
  }

  .grid-cell--h2 {
    height: 410px;
  }

  .grid-cell-inner {
    padding: 10px;
  }

  .grid h3,
  .grid h4 {
    margin: 0 0 10px;
  }

  .grid p {
    font-size: $font-size-h5;
    line-height: $line-height-h5 - 0.1;
    margin: 0;
  }

  .grid .meta {
    font-size: $font-size-micro;
    line-height: $line-height-micro;
    color: $color-gray-7;
    margin: 5px 0 0;
  }

  figure {
    margin: -10px -10px 8px;
  }

}




// Layout M3 /////////////////////////////////////

.m3 {
  padding: 50px;

  .grid {
    @include clearfix;
    margin: 50px 0;
  }

  .grid-cell {
    width: 20%;
    min-height: 200px;
    margin: 0 10px 10px 0;
    float: left;
    box-shadow: 0 0 0 1px #000;
    //border-top: 2px solid #000;
  }

  .grid-cell--w2 {
    width: calc(40% + 10px);
  }

  .grid-cell--h2 {
    min-height: 410px;
  }

  .grid-cell-inner {
    padding: 10px;
  }

  .grid h3,
  .grid h4 {
    margin: 0 0 10px;
  }

  .grid p {
    font-size: $font-size-h5;
    line-height: $line-height-h5 - 0.1;
    margin: 0;
  }

  .grid .meta {
    font-size: $font-size-micro;
    line-height: $line-height-micro;
    color: $color-gray-7;
    margin: 5px 0 0;
  }

  figure {
    margin: -10px -10px 8px;
  }

}
