{% extends "tease.twig" %}

{% block content %}
	<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
		<iframe src="https://player.vimeo.com/video/{{post.video_id}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endblock %}
