{% set pages = [
	{ name: 'Work',
		url: 'work'},
	{ name: 'About',
		url: 'about'},
	{ name: 'The Loop',
		url: 'the-loop'} ] %}

<nav class="site-nav" >
	{% block header %}
		<div class="site-nav__width">
			<h1 class="site-nav__logo" role="banner">
				<a class="site-nav__logo__link" href="{{site.url}}" rel="home">Mike Silva <span>Moving Images</span></a>
			</h1>

			<ul class="site-nav__page-list">
				{% for page in pages %}
					<li class="site-nav__page-item">
						<a href="/{{page.url}}" class="site-nav__page-link">{{page.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endblock %}
</nav>
