{% extends "base.twig" %}

{% block body_class %} page--services{% endblock %}

{% block content %}
  <div class="page__width">
    <section class="page__hgroup">
      <h2 class="page__h">{{post.title}}</h2>
    </section>
    <section class="page__content">

      <div class="page__content-block page__content-block--intro">
        <div class="page__content-block__width">
          {{post.content}}
        </div>
      </div>

      {% for group in post.get_field('services') %}

          <div class="page__content-block">
          <div class="page__content-block__width">
             <h3 class="page__section-h">{{group.title}}</h3>
             <ul class="page__bullet-list">
             {% for item in group.services %}
                <li class="page__bullet-list__item">{{item.service}}</li>
             {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}
