{% extends "base.twig" %}

{% block content %}
	<div class="page-wrapper">
		<section class="post-content">
			<div class="post-content__width">
				<div class="post__video-mod js-player" data-type="vimeo" data-video-id="{{post.video_id}}"></div>
				<div class="post__text-mod">
					<h1 class="post-h1">{{post.title}}</h1>
				</div>
			</div>
		</section>
	</div><!-- /page-wrapper -->
{% endblock %}
