.archive-title {
  max-width: 1150px;
  margin: 0 auto;
  padding: 25px 0;

  @include mq($bp--phablet) {
    display: flex;
    justify-content: space-between;
  }

  @include mq($bp--tablet-xl) {
    align-items: center;
    margin-top: 0;
  }
}
