.article__colorway--black {
  .content-wrapper,
  .article-topper {
    background: $color-base;
    color: #fff;
  }

  .article-topper--big-image {
    .article-topper__meta-info {
      padding-left: 13px;
      background: #fff;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
      border-top: 0;
    }
    .article-topper__overline-mod--big-image {
      background: #fff;
      color: $color-base;
      box-shadow: 0 0 0 1px;
    }
    .article-topper__hgroup--big-image {
      background: #fff;
      color: $color-base;
    }
    .article-topper__h--big-image {
      color: $color-base;
    }
    .article-topper__overline--big-image text {
      fill: $color-base;
    }
    .article-topper__social-list {
      right: 8px;
    }
  }

  .article__footer__meta-mod {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .article-topper__byline__author-name {
    @include link;
  }

  .article-content {
    table a {
      text-decoration: underline;
    }

    code {
      background-color: rgba(255,255,255, .2);
      color: inherit;
    }

    h1,h2,h3,h4,h5,h6 {
      color: inherit;
    }

    h1 {
      border-bottom: 1px solid #fff;
    }

    h2 {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;

      > i,
      > em {
        font-style: normal;
        color: #444;
      }
    }

    blockquote {
      color: #ddd;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }
  .article__footer__social-list {
    .article-topper__social-link--twitter {
      background-image: url('../../img/twitter-icon--white.svg');
    }
    .article-topper__social-link--facebook {
      background-image: url('../../img/facebook-icon--white.svg');
    }
  }
  .article__footer__author,
  .article__tag-link {
    @include link(#fff);
  }

  // These selection declarations have to be separate.
  //   No text-shadow: twitter.com/miketaylr/status/12228805301
  //   Also: hot pink.
  ::-moz-selection{ background: #fff; color: $color-base; text-shadow: none; }
  ::selection { background: #fff; color: $color-base; text-shadow: none; }

  //  j.mp/webkit-tap-highlight-color
  a:link { -webkit-tap-highlight-color: #fff; }
}
