$article-max: 1150px;
// $article-image-max: 850px;
$article-image-max: 800px;
$article-text-max: 685px;
$article-text-offset: calc(50% - #{$article-image-max / 2});
// $article-text-offset: auto;

.article-content {
  position: relative;
  padding: 20px 20px 0;
  @include mq($bp--tablet) {
    padding: 50px 20px 0;
  }
}

//  - - - - - - - - - - - - - - - - - - - - - -
//
//  STYLING SOME DEFAULT WP THINGS
//
//  - - - - - - - - - - - - - - - - - - - - - -

%blockquote {
  display: block;
  max-width: $article-image-max;
  color: #333;
  @include font($sans, 16px, 400);
  border-bottom: 1px solid rgba(0,0,0, .6);
  border-top: 1px solid rgba(0,0,0, .6);
  padding: 25px 0;
  margin: 50px auto;

  @include mq($bp--tablet) {
    columns: 2;
  }

  > p {
    display: inline;
    margin: 0;
    &:before {
      display: inline-block;
      content: '';
      width: 30px;
      height: .96em;
      opacity: .25;
      background-image: url('../../img/paragraph-icon.svg');
      background-repeat: no-repeat;
      background-position: 46% 50%;
      background-size: contain;
      margin-bottom: -2px;
    }
    &:first-child:before {
      display: none;
    }
    &:last-child {
      display: block;
      &:before {
        display: none;
      }
    }
  }

  cite {
    font-style: normal;
    color: inherit;
    &:before {
      display: block;
      content: '–';
    }
  }
}

%article-link:not(.media-img) {
  text-decoration: none;
  box-shadow: 0 -3px $color-blue inset;
  transition: all .2s;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: none;
    box-shadow: 0 -13px $color-blue inset;
  }

  .article__colorway--black & {
    box-shadow: 0 -3px rgba(255,255,255,.25) inset;
    &:focus,
    &:hover {
      box-shadow: 0 -13px rgba(255,255,255,.25) inset;
    }
  }
}

// headings!

%section-h1 {
  @include font($serif, 35px, 300);
  border-bottom: 1px solid rgba(0, 0, 0, .6);
  position: relative;
  @include mq($bp--phablet, $bp--tablet-xl) {
    @include fluid-font-size(
      35px $bp--phablet,
      65px $bp--tablet-xl,
      false
    );
  }
  @include mq($bp--tablet-xl) {
    font-size: 65px;
  }
}

%section-h2 {
  @include font($sans-display, 40px, 700, normal, .01em);
  border-top: 1px solid rgba(0, 0, 0, .6);
  border-bottom: 1px solid rgba(0, 0, 0, .6);
  line-height: 0.8;
  padding: 13px 0px 11px;
  > i,
  > em {
    font-style: normal;
    color: #e1e1e1;
  }
  @include mq($bp--phablet, $bp--tablet-xl) {

    @include fluid-font-size(
      40px $bp--phablet,
      72px $bp--tablet-xl,
      false
    );
  }
  @include mq($bp--tablet-xl) {
    font-size: 72px;
  }
}

%section-h3 {
  @include font($sans, 1.5em, 700);
}

%section-h4 {
  @include font($sans, .9em, 700, normal, .1em, caps);
  border-bottom: 2px solid;
  line-height: 1.2;
}

%section-h5 {
  @include font($sans, .95em, 700);
}

%section-h6 {
  @include font($sans, 16px, 700);
  line-height: 1.2;
  color: #999;
}


%ol {
  list-style: none;
  padding-left: 35px;
  counter-reset: counter;
  li {
    margin-bottom: 10px;
    &:before {
      content: counter(counter, decimal-leading-zero);
      counter-increment: counter;
      float: left;
      margin-left: -35px;
      padding-top: 0.3em;
      margin-top: 0.4em;
      @include number-circle;
    }
  }
  ol {
    margin-top: 10px;
    li:before {
      background: $color-base;
      color: #fff;
    }
    ol {
      li:before {
        color: $color-base;
        background-color: #fff;
      }
    }
  }
}

%caption-text {
  @include font($sans, 14px);
  color: #999;
}


%definition-list {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: $article-image-max;

  dt {
    padding-top: 15px;
    border-top: 1px solid;
    @include font($sans, .8em, 700);
    line-height: 1;
    margin: 0 0 10px;
    @include mq($bp--tablet) {
      width: 30%;
      padding-right: 20px;
      float: left;
      clear: both;
      margin-top: 20px;
    }
  }

  dd {
    margin: 0 0 10px;
    font-size: .9em;
    padding-top: 9px;
    @include mq($bp--tablet) {
      float: right;
      clear: right;
      width: 70%;
      border-top: 1px solid;
    }
  }

  dd + dd {
    border-top: 0;
  }

  dt + dd {
    @include mq($bp--tablet) {
      margin-top: 20px;
    }
  }
}

.article-body {
  max-width: $article-max;
  margin: 0 auto;

  * + * {
    margin-top: .8em;
  }

  dl, dd, li {
    margin-top: 0;
  }

  // set all the max widths!
  h1, h2, h3 {
    margin-left: auto;
    margin-right: auto;
    max-width: $article-image-max;
  }

  // set all the max widths!
  p, h4, h5, h6, ul, ol {
    margin-left: 0;
    margin-right: auto;
    max-width: $article-text-max;
    @include mq($article-image-max + 40px) {
      margin-left: $article-text-offset;
    }
  }
  ul ul, ol ol {
    margin-left: 0;
  }

  // heading styles
  h1, h2, h3, h4, h5, h6 {
    margin-top: 50px;
    @include mq($bp--tablet) {
      margin-top: 80px;
    }
  }

  h1, h2, h3, h4 {
    clear: both;
  }

  h1 {
    @extend %section-h1;
  }

  h2 {
    @extend %section-h2;
  }

  h3 {
    @extend %section-h3;
  }

  h4 {
    @extend %section-h4;
  }

  h5 {
    @extend %section-h5;
  }

  h6 {
    @extend %section-h6;
  }

  // blockquote styles
  blockquote {
    @extend %blockquote;
  }


  // list styles
  ol {
    @extend %ol;
  }

  dl {
    @extend %definition-list;
  }

  // link styles
  a {
    @extend %article-link;
  }
  hr {
    clear: both;
    margin: 80px auto;
    background: rgba(0, 0, 0, .6);
  }

  table {
    clear: both;
    width: 100%;
    max-width: $article-image-max;
    @include margin(n a);
  }
  p {
    margin-bottom: 0;
  }
}




.dropcap {
  padding: .18em .32em .15em;
  display: block;
  float: left;
  line-height: 1;
  border: 1px solid;
  margin-right: .26em;
  margin-top: .14em;
  @include font($serif-display, 2.8em);
}

.article__intro-text {
  @include font($sans, 1.15em, 400);
  color: #2a2a2a;
  &:after {
    display: block;
    content: '';
    width: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, .6);
    margin: 45px 0;
  }
}

.article__image-h {
  display: flex;
  align-items: center;
}

.article__image-h__image {
  width: 100px; // fallback
  width: 20vw;
  max-width: 125px;
  max-height: 125px;
  border-radius: 50%;
  margin-right: 10px;
  background-position: 50% 50%;
  background-size: cover;
  &:after {
    display: block;
    content: '';
    padding-top: 100%;
  }
  @include mq($bp--tablet) {
    margin-right: 20px;
  }
}
.article__image-h__text {
  margin-top: 0;
}

.base-body__quote {

  background: #000;
  color: #fff;
  padding: 20px;
  @include mq($bp--tablet) {
    max-width: 440px;
    float: left;
    clear: left;
    width: 50%;
    padding: 30px;
    margin: 22px 20px 20px 0;
  }
  .base-body__quote-text {
    @include font($sans-display, 36px);
    line-height: 1;
    margin: 0;
    @include mq($bp--tablet) {
      font-size: 42px;
    }
  }

  .base-body__quote-attribute {
    @include font($sans, 16px, 400, normal);
    line-height: 1.2;
    display: block;
    margin: 10px 0 0;
    @include mq($bp--tablet) {
      margin-top: 20px;
    }
  }

  .base-body__quote-author {
    margin-right: 2px;
    // font-weight: 700;
  }
  .base-body__quote-author-title {
    color: #999;
  }

  .simple_white_topper & {
    background: #fff;
    padding: 17px 17px 0 0;
    color: $color-base;
    border-top: 3px solid;
    margin-top: 24px;

    .base-body__quote-text {
      @include font($sans, 21px, bold, normal, -.02em);
      line-height: 1.3;
      margin-bottom: 17px;
      @include mq($bp--tablet) {
        font-size: 25px
      }
    }

    @include mq(max, $bp--tablet) {
      margin: 28px 0 26px;
      padding: 18px 0 16px;
      border-bottom: 1px solid;
    }

    @include mq($bp--tablet) {
      margin-right: 37px;
      max-width: 400px;
    }
  }
}

.article__number-quote {
  text-align: center;
  max-width: $article-text-max;
  position: relative;
  margin: 65px auto 55px;
  padding: 16px 10px 44px;

  @include mq($bp--tablet) {
    margin: 85px auto 76px;
    padding: 17px 10px 61px;
  }


  &:before,
  &:after {
    display: block;
    content: '';
    width: 25%;
    max-width: 125px;
    @include absolute(n n n 50%);
    border-top: 1px solid;
    transform: translate3d(-50%, 0, 0);
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }


  @include mq($article-image-max + 40px) {
    margin-left: $article-text-offset;
  }

  .article__number-quote__number,
  .article__number-quote__text {
    width: 100%;
    margin: auto;
  }
}

.article__number-quote__number {
  @include font($serif-display, 85px, 700);
  line-height: 1.25;

  @include mq($bp--phablet, $bp--tablet-xl) {

    @include fluid-font-size(
      85px $bp--phablet,
      114px $bp--tablet-xl,
      false
    );
  }
  @include mq($bp--tablet-xl) {
    font-size: 114px;
  }

}

.article__number-quote__text {
  @include font($sans, 18px, 700);
}

.wp-caption {
  max-width: 100%;

}

.alignright {
  float: right;
  margin: 8px 0 8px 15px;
}
.alignleft {
  float: left;
  margin: 8px 15px 8px 0;
}

.aligncenter {
  @include margin(n auto);

  @include mq($bp--tablet) {
    margin: 50px auto 25px;
  }
}

.alignnone {
  .wp-caption-text {
    max-width: none;
  }
  @include mq($bp--tablet) {
    margin: 50px auto 25px;
  }
}

.wp-caption-text {
  margin:0 0 50px 0 !important;
  @extend %caption-text;
}

.article__featured-image-mod {
  max-width: $article-image-max;
  margin: 0 auto 30px;
}

.article__featured-image {
  width: 100%;
}


.article__footer {
  max-width: $article-image-max + 40px;
  margin: 40px auto 0;
  @include mq($article-image-max + 40px) {
    margin-left: $article-text-offset;
  }
}

.article__footer__meta-mod {
  position: relative;
  border-top: 1px solid rgba(0,0,0, .6);
  border-bottom: 1px solid rgba(0,0,0, .6);
  overflow: hidden;
  padding: 23px 100px 20px 0;
  margin-bottom: 35px;
  min-height: 70px;
}

.article__tag-title {
  @include font($sans, 16px, 700);
  color: inherit;
  float: left;
  width: 120px;
  margin: 0;
}

.article__tag-list {
  @include font($sans, 16px, 400);
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
  @include mq($bp--tablet) {
    overflow: hidden;
    clear: none;
  }
}

.article__tag {
  display: inline-block;
  &:after {
    display: inline;
    content: ',';
  }
  &:last-child:after {
    display: none;
  }
}

.article__tag-link {
  text-decoration: none;
  @include link();
}

.article__footer__social-list {
  @include absolute(11px 0 0 n);
  margin-bottom: 0;
  padding: 0;

  .article-topper__social-link--twitter {
    background-image: url('../../img/twitter-icon.svg');
  }

  .article-topper__social-link--facebook {
    background-image: url('../../img/facebook-icon.svg');
  }

}

.article__footer__author-mod {
  @include font($sans, 16px, 400);
  max-width: 575px;
}

.article__footer__author {
  font-weight: 700;
  text-decoration: none;
  @include link;
}

.article__shortcode-error {
  color: red;
  border: 1px solid red;
  padding: 10px;
}



//  - - - - - - - - - - - - - - - - - - - - - -
//
//  Image Gallery
//
//  - - - - - - - - - - - - - - - - - - - - - -


@keyframes openGallery {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes openGallery--image {
  0% {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


.article-image-gallery {
  @include fixed(0);
  z-index: 10;
  background-color: $color-base;
  display: none;
  @include font($sans, 15px, 700);
  flex-direction: column;

  .js-gallery-is-open & {
    display: flex;
    animation: openGallery .2s ease forwards;
  }
}

.article-image-gallery__image {

  .js-gallery-is-open & {
    opacity: 0;
    animation: openGallery--image .5s ease forwards;
  }

}


.article-image-gallery__close {
  color: white;
  @include absolute(0 0 n n);
  border: 1px solid;
  margin: 10px;
  transition: all .25s ease;
  z-index: 1;
  @include font($sans, 12px, 700, normal, .1em, caps);
  @include size(70px);
  padding: 5px 0 0;
  border-radius: 50%;
  &:focus,
  &:hover {
    color: $color-base;
    background-color: #fff;
  }
}

.article-image-gallery__image-container {
  background-color: $color-base;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.article-image-gallery__image {
  display: block;
  max-width: calc(100vw - 50px);
  max-height: calc(100vh - 140px);
}

.article-image-gallery__control-bar {
  z-index: 1;
  background-color: white;
  height: 97px;
  position: relative;
  @include mq($bp--tablet) {
    height: auto;
    min-height: 91px;
    display: flex;
    align-items: stetch;
    justify-content: space-between;
    border: 1px solid $color-base;
  }
}

.article-image-gallery__count-mod {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 0 0 $color-black;

  @include absolute(0 n n 0);
  width: 33.333%;
  @include mq($bp--tablet) {
    position: static;
    width: 10%;
  }
}

.article-image-gallery__count {
  margin-bottom: 0;
  line-height: 1;
  padding: 0.9em 15px;
}

.article-image-gallery__count--current,
.article-image-gallery__count--total {
  padding: 0 6px;
}

.article-image-gallery__caption {
  text-align: center;
  overflow: scroll;
  font-weight: 400;
  white-space: nowrap;
  margin: 0;
  padding: 11px 15px;
  z-index: 1;
  @include absolute(n 0 0 0);
  border-top: 1px solid $color-base;
  @include mq($bp--tablet) {
    width: 65%;
    position: static;
    white-space: normal;
    padding: 0;
    margin: 25px;
    height: 41px;
    border-top: 0;
  }
}

.article-image-gallery__btn-mod {
  display: flex;
  @include absolute(0 0 n n);
  width: 66.666%;
  @include mq($bp--tablet) {
    position: static;
    width: 20%;
  }
}

.article-image-gallery__btn {
  color: $color-base;
  border: 0;
  width: 50%;
  border-left: 1px solid;
  box-shadow: 0 0 0 1px #fff inset;
  float: left;
  font-weight: 700;
  transition: all .25s ease;
  &:focus,
  &:hover {
    background-color: $color-base;
    color: #fff;
  }
}

.js-hide-controls {
  .article-image-gallery__count-mod,
  .article-image-gallery__btn-mod {
    display: none;
  }

  .article-image-gallery__control-bar {
    align-items: center;
    justify-content: space-around;
  }
}

.js-gallery-bg-image,
.js-gallery-image,
img[class *="wp-image-"] {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0), 0 0 30px rgba(0, 0, 0, 0);
  transition: all .25s;
  &:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .5), 0 0 30px rgba(0, 0, 0, .3);
    outline: none;
    &:active {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0), 0 0 30px rgba(0, 0, 0, 0);
    }
  }
  &:hover {
    cursor: url('../../img/zoom-icon.svg'), zoom-in;
  }
  &.article-image--big-image,
  &.article-bg-image--big-image {
    cursor: auto;
  }
}



// hanging punctuation
// see js/modules/nu_news_hanging_punctuation.js
.indent-small {@include mq($bp--phablet){text-indent: -0.175em}}
.indent-medium {@include mq($bp--phablet){text-indent: -0.4em}}
.indent-large {@include mq($bp--phablet){text-indent: -0.45em}}

