$image-spacing: 4px;
$image-spacing-half : $image-spacing / 2;

// consistent styles

.article__image-layout {
  @include clearfix;
  @include margin(20px n);
  @include mq($bp--tablet-xl) {
    @include margin(50px n);
  }
}

.article__image-layout__image-set {
  position: relative;
  @include clearfix;
}

.article__image-layout__caption {
  @extend %caption-text;
}

.article__image-layout__number {
  display: block;
  @include number-circle();
  @include absolute(n 15px 15px n);
}

.article__image-layout__image {
  width: 100%;
  max-width: none;
  line-height: 0;
}


.article__image-layout__image-mod {
  position: relative;
}

.article__image-layout__caption {
  padding: 0 20px;
  margin: 10px auto;
}

// 4x1

.article__image-layout--4x1 {
  width: 100vw;
  // max-width: 1400px;
  transform: translate3d(-50%, 0, 0);
  margin-left: 50%;
  padding: $image-spacing-half;

  .article__image-layout__image-set {
    display: flex;
    flex-wrap: wrap;
    @include mq($bp--tablet-xl) {
      flex-wrap: nowrap;
    }
  }

  .article__image-layout__image-mod {
    position: relative;
    float: left;
    line-height: 0;
    width: 50%;
    display: flex;
    align-items: flex-end;
    padding: $image-spacing-half;
    @include mq($bp--tablet-xl) {
      // width: 25%;
    }
  }
}

//  2x2
.article__image-layout--2x2 {

  width: 100vw;
  // max-width: 1100px;
  transform: translate3d(-50%, 0, 0);
  background-color: $color-base;
  margin-left: 50%;
  // padding: $image-spacing-half;



  .article__image-layout__image-set {
    @include grid(2, 0);
    padding: $image-spacing-half;
  }
  .article__image-layout__image-mod {
    padding: $image-spacing-half;
    &:last-child:nth-child(odd) {
      width: 100%;
      @include mq($bp--tablet-xl) {
        width: 50%;
      }
    }
  }

  .article__image-layout__caption {
    padding: 0 20px;
    margin: 10px auto;
  }
}


// asym

.article__image-layout--asym {
  width: 100vw;
  max-width: 1100px;
  transform: translate3d(-50%, 0, 0);
  margin-left: 50%;
  padding: $image-spacing-half;
}

.article__image-layout__image-mod--stacked {
  width: 50%;
  float: right;
  clear: right;
  padding: $image-spacing-half;
}

.article__image-layout__image-mod--tall {
  @include absolute($image-spacing-half calc(50% + #{$image-spacing-half}) $image-spacing-half $image-spacing-half );
  background-position: 50% 50%;
  background-size: cover;
  .article__image-layout__image {
    width: auto;
    height: 100%;
    opacity: 0;
  }
}


// full width
.article__image-layout--full {

  width: 100vw;
  transform: translate3d(-50%, 0, 0);
  margin-left: 50%;
  position: relative;

  .article__image-layout__text {
    @include absolute(50% n n 50%);
    transform: translate3d(-50%, -50%, 0);
    font-size: 11vw;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 0;
    margin: 0;
    padding: 0;
    width: 50%;
    max-width: none;

  }
}

.article__image-layout--full {
  .article__image-layout__image-mod {
    background-color: $color-base;
  }
  .article__image-layout__image {
    transition: opacity .5s ease;
  }

  &:hover .article__image-layout__image {
    opacity: .6;
  }

  .touchevents & {
    opacity: .6;
  }
}

.article__image-layout--full--dark {
  .article__image-layout__text {
    color: $color-base;
  }
  .article__image-layout__image-mod {
    background-color: #fff;
  }


  &:hover .article__image-layout__image {
    opacity: 1;
  }

  .touchevents & {
    opacity: 1;
  }
}
