.article-topper {
  background-color: $color-base;
  color: #fff;
  padding: 130px 20px 0;
  position: relative;
  @include mq($bp--tablet) {
    padding-top: 160px;
  }
}

.article-topper__width {
  max-width: $article-image-max;
  margin: 0 auto;
}

.article-topper__h {
  @include font($sans-display, 40px);
  line-height: 0.9;
  letter-spacing: .01em;
  color: #fff;
  margin-bottom: 23px;

  @include mq($bp--phablet, $bp--desktop) {
    @include fluid-font-size(
      40px $bp--phablet,
      72px $bp--desktop,
      false
    );
  }
  @include mq($bp--desktop) {
    font-size: 72px;
  }
}


.article-topper__overline {
  @include font($sans, 12px, 700, normal, .1em, caps);
  color: $color-base;
  background-color: #fff;
  display: inline-block;
  line-height: 1;
  padding: 5px 6px 2px;
  text-decoration: none;
  margin-bottom: 24px;
  transition: all .3s ease;
  @include mq($bp--phablet) {
    font-size: 13px;
  }

  &:hover,
  &:focus {
    background-color: $color-base;
    color: #fff;
    box-shadow: 0 0 0 1px #fff;
  }
}


//
// big image topper
//

.article-topper--big-image {
  padding: 0;
  background-color: #fff;
}

.article-image--big-image {
  width: 100%;
  // opacity: 0;
 .show-topper-image & {
    opacity: 0;
  }
}

.article-image-mod--big-image {
  background: $color-base;
  position: relative;
  overflow: hidden;
}

.article-bg-image--big-image {
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0;
  transition: all 1.1s ease;
  overflow: hidden;
  max-height: 92vh;
  position: relative;
  transform: scale(1.03);
  &.show-topper-image {
    opacity: 1;
    transform: scale(1);
  }

  .is-exiting & {
    opacity: 0;
    transform: scale(1.03);
  }
}

.article-topper__text-width--big-image {
  max-width: $article-image-max + 40px;
  padding: 0 20px;
  margin: 0 auto;
}

.article-topper__hgroup--big-image {
  padding: 0 30px 25px;
  background-color: $color-base;
  position: relative;
  // box-shadow: 0 0 0 1px #fff;
  @include mq($bp--tablet) {
    padding: 0 60px 50px;
  }
}

.article-topper__overline-mod--big-image {
  padding: 15px 25px 5px;
  background-color: $color-base;
  position: relative;
  @include absolute(n n 0 50%);
  transform: translate3d(-50%, 0, 0);
  width: calc(100% - 40px);
  max-width: $article-image-max;
  // box-shadow: 0 0 0 1px #fff;
  @include mq($bp--tablet) {
    padding: 40px 60px 10px;
  }
}

.article-topper__h--big-image {
  @include font($serif, 19px, 400);
  text-align: center;
  border-top: 1px solid;
  padding-top: 20px;
  color: #fff;
  margin-bottom: 0;

  @include mq($bp--mobile, $bp--tablet) {
    @include fluid-font-size(
      19px $bp--phablet,
      26px $bp--desktop,
      false
    );
  }
  @include mq($bp--tablet) {
    font-size: 26px;
  }
}

.article-topper__overline--big-image {
  width: 100%;
  text {
    fill: #fff;
    font-family: $sans-display;
  }
}

//
// simple white topper
//

.article-topper--simple-white {
  background-color: #fff;
  color: $color-text;

  .article-topper__width {
    max-width: $article-image-max;
  }

  .article-topper__overline {
    background-color: transparent;
    background-color: $color-red;
    color: #fff;
    &:hover {
      box-shadow: 0 0 0 1px $color-red;
      color: red;
      background-color: rgba($color-red, 0);
    }
  }

  .article-topper__h {
    color: $color-base;
    @include font($sans, 30px, 700, normal, -.02em);
    line-height: 1.1;
    @include mq($bp--phablet, $bp--desktop) {
      @include fluid-font-size(
        30px $bp--phablet,
        52px $bp--desktop,
        false
      );
    }
    @include mq($bp--desktop) {
      font-size: 52px;
    }
  }
}

// article topper byline

.article-topper__meta-info {
  border-top: 1px solid rgba(255, 255, 255, .3);
  @include font($sans, 16px, 400);
  padding: 12px 100px 10px 0;
  position: relative;
}

.article-topper__social-list {
  @include absolute(0 0 0 n);
  margin: 0;
  padding: 0;
}

.article-topper__social-link {
  text-indent: -9999px;
  display: inline-block;
  @include size(25px);
  overflow: hidden;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  transition: all .25s ease;
  transform: translate3d(0, 0, 0);

  &:hover,
  &:focus {
    transform: scale(1.2) translate3d(0, 0, 0);
  }

}

.article-topper__social-link--twitter {
  background-image: url('../../img/twitter-icon--white.svg');
  background-size: 22px;
}

.article-topper__social-link--facebook {
  background-image: url('../../img/facebook-icon--white.svg');
  background-size: 12px;
}

.article-topper__byline__author {
  margin-right: 15px;
}

.article-topper__byline__author-name {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  @include link(#fff);

  &:hover,
  &:focus {
    @include link;
  }
}

.article-topper__byline__date {
  color: #999999;
}

.article-topper__social-item {
  display: inline-block;
  padding: 10px 2px;
  line-height: 0;
}


.article__featured-image-mod {
  line-height: 0;
}

.article-topper--image-side,
.article-topper--big-image,
.article-topper--simple-white {

  .article-topper__byline__author-name,
  .article-topper__byline {
    color: $color-base;
  }

  .article-topper__meta-info {
    border-bottom: 1px solid rgba(0, 0, 0, .6);
  }

  .article-topper__social-link--twitter {
    background-image: url('../../img/twitter-icon.svg');
  }

  .article-topper__social-link--facebook {
    background-image: url('../../img/facebook-icon.svg');
  }
}

.article-topper--simple-white {

  padding-top: 110px;

  @include mq($bp--tablet) {
    padding-top: 140px;
  }

  .article__featured-image-mod {
    margin-bottom: 3px;
  }

  .article-topper__hgroup + .article-topper__meta-info {
    border-top: 1px solid rgba(0, 0, 0, .6);
    border-bottom: 0;
    padding-top: 19px;
    .article-topper__social-list {
      top: 5px;
    }
  }

  // &:after {
  //   display: block;
  //   display: none;
  //   content: '';
  //   @include absolute(0 0 n);
  //   height: 500px;
  //   background-color: $color-bg-blue;
  // }

  .article-topper__width {
    position: relative;
    z-index: 1;
  }
}

.article-topper--image-side {
  background-color: transparent;
  padding: 0;

  .article-topper__hgroup {
    background-color: $color-base;
    padding: 20px;
    @include mq(#{$article-image-max + 40px}) {
      padding: 20px calc((100vw - #{$article-image-max}) / 2);
    }
    @include mq($bp--desktop) {
      order: 0;
      width: 33.33%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: right;
      padding: 160px 20px 20px;
    }
    @include mq($bp--desktop-xxl) {
      width: calc((100vw - #{$article-image-max}) * .5);
      padding: 160px 40px 40px;
    }
  }

  .article-topper__h {
    margin-bottom: 0;

    @include mq($bp--desktop, $bp--desktop-xxl) {
      @include fluid-font-size(
        40px $bp--desktop,
        60px $bp--desktop-xl,
        false
      );
    }

    @include mq($bp--desktop-xxl) {
      @include fluid-font-size(
        63px $bp--desktop-xxl,
        68px 1800px,
        false
      );
    }
  }

  .article-image-mod--big-image {
    @include mq($bp--desktop) {
      width: 66.66%;
    }
    @include mq($bp--desktop-xxl) {
      width: calc((100vw + #{$article-image-max}) * .5);
    }
  }

  .article-image-mod--big-image {
    order: 1;
    display: flex;


  }

  .article-bg-image--big-image {
    max-height: none;
    width: 100%;
  }
}

.article-topper__layout--image-side {
  @include mq($bp--desktop) {
    display: flex;
  }
}
