$bp--nav-break: 500px;

@keyframes nav-in {
  0% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.site-nav {
  @include absolute(0 0 n);
  // background-color: #fff;
  z-index: 3;
  @include site-padding;
  .nav-is-active & {
    @include mq(max, $bp--nav-break) {
      background: white;
      @include fixed(n n 0);
    }
  }

  .display-hp-content.home & {
    background-color: rgba(#fff, 0);
    transition: all .2s;
    opacity: 1;
  }
}

.site-nav__width {
  padding: 36px 0 34px;
  position: relative;
  @include mq($bp--nav-break) {
    overflow: hidden;
  }
}

.site-nav__logo {
  float: left;
  @include font($sans, 16px, 700);
  margin: 0;
  line-height: 1;
  color: inherit;
  span {
    font-weight: 400;
  }
}

.teases-are-active {
  .site-nav__width,
  .site-nav__logo {
    // color: #fff;
  }
}

.site-nav__logo__link {
  text-decoration: none;
}

.site-nav__page-list {
  line-height: 0;
  display: none;
  .nav-is-active & {
    @include mq(max, $bp--nav-break) {
      display: block;
      @include absolute(100px 0 0);
      color: black;
    }
  }
  @include mq($bp--nav-break) {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
  }
}

.site-nav__page-item {
  @include font($sans, 16px, 400);
  line-height: 1;

  .display-hp-content & {
    transition: color .6s ease #{$intro-anim-timing - 1s};
    color: #fff;
  }

  @include mq($bp--nav-break) {
    display: inline-block;
    margin-right: 15px;
    border-top: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.site-nav__page-link {
  transition: all .2s;
  text-transform: capitalize;
  padding: 25px 6px;
  display: block;
  border-top: 1px solid rgba(0,0,0,.2);
  &:focus,
  &:hover {
    background-color: $color-spot;
    border-color: $color-spot;
    color: #fff;
  }
  @include mq($bp--nav-break) {
    padding: 3px 6px;
    border-top: none;
  }
}

.js-nav-toggle {
  @include font($sans, 16px, 400);
  transition: all .2s;
  text-transform: capitalize;
  border: 0;
  @include absolute(n 0 n n);
  margin-top: -3px;
  color: inherit;
  padding: 3px 6px;

  &:focus,
  &:hover {
    background-color: $color-spot;
    color: #fff;
  }
  @include mq($bp--nav-break) {
    display: none;
  }
}
