.page__width {
  color: currentColor;
  padding: 15px;
  margin: 0 auto;
  max-width: 1080px;
  @include mq($bp--tablet) {
    background-color: white;
    padding: 30px;
    position: relative;
  }
  @include mq($bp--desktop) {
    margin: -100px auto 50px;
    border-top: 10px solid $color-spot;
    padding: 50px;
  }
}

.page__h {
  color: currentColor;
  position: relative;
  span {
    background: #fff;
    padding-right: 20px;
  }
  &:before {
    content: '';
    display: block;
    @include absolute(50% 0 n 1px);
    border-top: 1px solid $color-dark-mint;
    z-index: -1;
  }
}

.page__section-h {
  color: currentColor;
  margin-bottom: 15px;
  @include font($sans, 15px, 700);
}

.page--services {
  color: $color-dark-green;
  // color: $color-orange;
}

.page--services,
.page--loop {
  .site-nav {
    color: $color-white;
    @include mq($bp--desktop) {
      padding: 0 40px;
    }
  }

  .content-wrapper {
    padding-top: 0;
    @include mq($bp--tablet) {
      padding: 10px;
      &:before {
        @include absolute(0 0 x);
        height: 50vh;
        background-color: $color-mint;
        content: '';
      }
    }
  }
}

.nav-is-active .site-nav {
  color: black;
}

.page--loop {
  .page__topper {
    background-color: #1a1a1a;
    align-items: center;

    @include mq($bp--desktop) {
      min-height: 55vh;
    }
  }
  .page__topper__h {
    text-align: center;
  }
  .page__topper__hgroup {
    @include margin(x a);
    width: 100%;
  }
}

.page__hgroup {
  // @include mq($bp--tablet-xl) {
  //   min-width: 300px;
  // }
}

.page__content {
  // @include mq($bp--tablet-xl) {
  //   min-width: calc(100% - 300px);
  // }
}

.page__content-block {
  overflow: hidden;
  // color:;
  & + & {
    border-top: 1px solid $color-spot;
    margin-top: 45px;
    padding-top: 55px;
    @include mq($bp--tablet) {
      // border-width: 2px;
    }
  }
}
.page__content-block__width {
  max-width: 750px;

  .page--loop & {
    margin: 0 auto;
  }
}

.page--loop {
  color: $color-dark-green;
}


.page__content-block--intro {
  @include font($sans, 20px, 400);

  @include mq($bp--tablet) {
    font-size: 26px;
    font-weight: 300;
  }

  @include mq($bp--desktop) {
    font-size: 35px;
    .page__content-block__width {
      max-width: 950px;
    }
  }
}

.page__bullet-list {
  list-style: none;
  @include margin(x x 0 0);
  padding-left: 0;
}

.page__bullet-list__item {
  display: inline;
  @include font($sans, 20px, 400);

  @include mq($bp--tablet) {
    font-size: 35px;
    font-weight: 300;
  }

  &::after {
    display: inline;
    padding: 0 .55em 0 .9em;
    content: '•';
    vertical-align: middle;
    font-size: 0.5em;
  }

  &:last-child::after {
    display: none;
  }


  a {
    text-decoration: none;
    box-shadow: 0 -1px $color-spot inset;
    // color: $color-black;
    margin-right: -.2em;
    &:focus,
    &:hover {
      box-shadow: 0 -1px currentColor inset;
    }
  }
}


.loop__img-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.loop__img-list__item {
  width: 32%;
  margin-left: 2%;

  &:first-child {
    margin-left: 0;
  }

  img {
    width: 100%;
  }
}

.page__section-h__link {
  text-decoration: none;
}

.page__section-h__site {
  margin-left: .5em;
  opacity: .5;
  transition: all .3s;

  .page__section-h__link:focus &,
  .page__section-h__link:hover & {
    opacity: 1;
  }
}

$loop-size: 180px;

.page--loop {
  .page__content-block--intro {

    @include mq($bp--tablet) {
      position: relative;
      margin-left: -20px;
      padding: 20px 0 0 20px;
    }
  }

  .page__h {
    @include mq($bp--tablet) {
      padding-bottom: 75px;
      text-align: center;
      position: relative;
      &:after {
        content: '';
        width: $loop-size;
        height: $loop-size;
        border: 3px solid $color-spot;
        background-color: #fff;
        border-radius: 50%;
        z-index: 1;
        pointer-events: none;
        @include absolute(50% 50% n n);
        position: absolute;
        transform: translate3d(50%, -50%, 0);
      }
      span {
        background: transparent;
        padding: 0;
        z-index: 2;
        @include absolute(50% 50% n n);
        transform: translate3d(50%, -50%, 0);
        line-height: .8;
        width: $loop-size;
      }
    }
    @include mq($bp--tablet, $bp--tablet-xl) {
      margin-top: -80px;
      &:before {
        display: none;
      }
    }

    @include mq($bp--tablet-xl) {
      padding-bottom: 0;
      &:after,
      span {
        right: 100%;
        transform: translate3d(0, -50%, 0);
        margin-bottom: 0;
      }
    }
  }

  .page__content-block {
    border-color: $color-mint;
  }
}


.page__loop-member__img {
  background-color: $color-dark-mint;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  max-width: 120px;
  margin: 0 auto 15px;

  &:after {
    display: block;
    content: '';
    padding-top: 100%;
  }
}

.page__loop-member__link {
  text-decoration: none;
}

.page__loop-members {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 60px 0 0;
  padding-left: 0;
  justify-content: center;
}

.page__loop-member {
  min-width: 130px;
  width: 20%;
  text-align: center;
  padding: 0 8px;
  @include mq($bp--tablet) {
    padding: 0 15px;
  }
}

.page__loop-member__name {
  @include font($sans, 15px, 700);
}


.page__topper {
  position: relative;
  overflow: hidden;
  min-height: 50vh;
  display: flex;
  align-items: flex-end;
  padding: 100px 30px 50px;
  background-color: #1a1a1a;
  @include mq($bp--desktop) {
    padding: 150px 100px 200px;
    min-height: 75vh;
  }
}

.page__topper__img {
  @include absolute(0);
  opacity: 0;
}

.page__topper__img-mod {
  @include absolute(0);
  background-size: cover;
  background-position: 50% 50%;
  filter: grayscale(1);
  mix-blend-mode: screen;
}

.page__topper__hgroup {
  position: relative;
  max-width: 1080px;
  @include margin(x a);
}

.page__topper__h {
  font-size: 130px;
  color: $color-white;
  line-height: 1;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  font-size: 40px;
  margin-bottom: 0;
  @include mq($bp--phablet, $bp--desktop-xl) {
    @include fluid-font-size(40px $bp--phablet, 130px $bp--desktop-xl)
  }
  @include mq($bp--desktop-xl) {
    font-size: 130px;
  }
}
